


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.homePageMenu {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}
.homePageMenuImg {
  margin: 20px;
}


.menuButton {
  border-radius: 8px;
  border: 1px solid rgb(0, 98, 255);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1893c0;
  cursor: pointer;
  transition: border-color 0.25s;

  
}
.menuButton:hover {
  border-color: #646cff;
}
.menuButton:focus,
.menuButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* PROJECTS PAGE */

/* project previews / list */
.project-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #c9c8c8;
}
.project-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.project-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.project-preview a{
  text-decoration: none;
}

/* project details page */
.project-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.project-details div {
  margin: 20px 0;
}
.project-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Links to create */
.links {
  margin-left: auto;
}
.links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.links a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* create new project form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
